# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.db-journal
Lib/
scripts/
*.cfg
# Virtual environment
venv/
ENV/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Env vars (token, etc.)
.env
